* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #8e2de2, #a855f7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 420px;
}

/* Cards */
.card {
    background: white;
    border-radius: 14px;
    padding: 18px;
    margin-bottom: 22px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

/* Input Card */
.input-card {
    display: flex;
    gap: 10px;
}

.input-card input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 15px;
}

.add-btn {
    background: #7c3aed;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.add-btn:hover {
    background: #6d28d9;
}

/* List */
.list-card ul {
    list-style: none;
}

li {
    background: #f8f7ff;
    border-radius: 10px;
    padding: 12px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
}

/* Delete button */
.delete-btn {
    background: #7c3aed; /* original purple */
    border: none;
    color: white;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.25s ease;
}

.delete-btn:hover {
    background: #dc2626; /* red on hover */
}



.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
